<ion-content>
<div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card >
      <ion-card-header>
       
        <ion-card-title>Global New's App</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Welcome to my ionic news app. Using ionic angular for mobile integration, scroll through the most recent articles by country with sub-routes to the article itself.
      </ion-card-content>
    </ion-card>
    
    </div></ion-content>